<mat-dialog-content>
  <h3>An Email will be sent to your registered email address</h3>
  <form [formGroup]="forgotPasswordForm">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
      <mat-error
        *ngIf="
          forgotPasswordForm.get('email').invalid &&
          (forgotPasswordForm.get('email').dirty ||
            forgotPasswordForm.get('email').touched)
        "
      >
        <span *ngIf="forgotPasswordForm.get('email').hasError('required')"
          >email is required</span
        >
        <span *ngIf="forgotPasswordForm.get('email').hasError('email')"
          >Invalid email format</span
        >
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onChangePassword(forgotPasswordForm.value)" [disabled]="forgotPasswordForm.invalid">Send</button>
</mat-dialog-actions>
