.example-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  min-width: 632px;
  padding-right: 5px;
  padding-left: 5px;
}

mat-card {
  max-width: 960px;
  min-width: 632px;
  width: 80%;
  border-radius: 8px;
}
mat-card-content {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  padding-right: 32px;
  padding-left: 10%;
  margin-bottom: 12px;
}
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-error {
  color: red;
}

.example-form button {
  width: 100%;
}
.example-form h2 {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}
.submit{
  margin-bottom: 20px;
}
.submit:enabled {
  background-color: #b6d1e6;
}
.profile-details-container {
  display: flex;
  flex-direction: row;
}
.profile-picture-container{
  width: 35%;
  margin-left: 40px;
}

.profile-picture {
  position: relative;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.profile-picture img {
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
}

.icon mat-icon{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.icon:hover {
  background-color: #a8a4a4;
}

.example-form .profile-details-container .profile-picture-container .icon {
  position: relative;
  border-radius: 50%;
  bottom: 10%;
  left: 5%;
  width: 45px;
  height: 45px;
  z-index: 3;
  background-color: #b1b3b5;
}

