<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>About Our QR Generator App</mat-card-title>
    </mat-card-header>
    <div class="image-text-container">
      <img src="./assets/ScanMe.png" />
      <mat-card-content>
        <div class="content">
          <p>
            Our app is designed to help you quickly and easily generate QR codes
            for all your needs. Whether you're a small business owner looking to
            create QR codes for your products or services, or an individual
            looking to share your contact information or website, our app has
            got you covered.
          </p>
          <p>
            Our team of developers have worked hard to create a user-friendly
            interface that is simple to navigate and use. All you need to do is
            input the information you want to encode into the QR code, and our
            app will generate it for you in seconds.
          </p>
          <p>
            One of the best things about our app is that it's completely free to
            use! We believe that everyone should have access to the tools they
            need to succeed, and we're committed to providing our users with the
            best possible experience.
          </p>
          <p>
            We also take your privacy and security seriously. Our app is
            designed to keep your information safe and secure, and we will never
            share your data with third parties without your consent.
          </p>
          <p>
            If you have any questions or feedback about our app, please don't
            hesitate to
            <a href="mailto:mssharma.9785@gmail.com">get in touch with us</a>.
            We're always looking for ways to improve and make our app even
            better, and your feedback is invaluable to us.
          </p>
          <p>
            Thank you for choosing our QR generator app. We hope it makes your
            life a little bit easier and more convenient!
          </p>
        </div>
      </mat-card-content>
    </div>
  </mat-card>
</div>
