/* Center the form in the middle of the page */
mat-card {
  display: flex;
  flex-direction: row;
  width: 95%;
  /* min-width:fit-content; */
  margin: 0 auto;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

mat-card-header {
  margin-left: 20px;
  width: 30%;
  min-width: 100px;
  align-self: center;
}

mat-card-title {
  word-wrap: break-word;
  font-size: 24px;
  font-weight: 600;
}
.addQR{
  width: 100%;
}

.newQR{
  margin: 30px;
}

.message{
  display: flex;
  margin: 30px 0  0 30px;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}

.qrList{
  max-width: 200px;
  width: 40%;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 16px;
}

img{
  width: 200px;
  max-width: 100%;
  height: auto;
}

mat-card-actions {
  min-width: 200px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  align-content: flex-end;
  margin: 16px;
}

button {
  margin-left: 8px;
}


/* Add some margin between the form fields */
mat-form-field {
  width: 100%;
  min-width: 150px;
  align-self: center;
}

qrcode{
  /* width: 20%; */
  min-width: 200px;
  align-self: center;
}


.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.column{
  width: 50%;
  max-width: 300px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly ;
  margin: 0;
}
.column button{
  width: 100%;
  justify-self: center;
  background-color:#b6d1e6;
  color:#000000;
  text-align: center;
}
.example{
  min-width: 45%;
  margin-right: 32px;
  margin-left: 20px;
  margin-top: 20px;
  align-self: center;
}
.example span{
  width: 100%;
  left:0;
}
.qrCodeContainer{
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly ;
}
