/* Center the form in the middle of the page */
mat-card {
  width: 95%;
  min-width:fit-content;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-evenly;
}

mat-card-content{
  width:100%;
}

/* Add some margin between the form fields */
mat-form-field {
  width: 100%;
  min-width: 150px;
  align-self: center;
}

qrcode{
  /* width: 20%; */
  min-width: 200px;
  align-self: center;
}
.row{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.column{
  width: 50%;
  max-width: 300px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly ;
  margin: 0;
}
.column button{
  width: 100%;
  justify-self: center;
  background-color:#b6d1e6;
  color:#000000;
  text-align: center;
}
.example{
  min-width: 45%;
  margin-right: 32px;
  margin-left: 20px;
  margin-top: 20px;
  align-self: center;
}
.example span{
  width: 100%;
  left:0;
}
.qrCodeContainer{
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-evenly ;
}
