<mat-card *ngIf="qrcodes">
  <mat-card-content>
    <div class="row">
      <div class="example">
        <mat-form-field>
          <input #qrInput matInput [(ngModel)]="inputText" name="inputText" placeholder="Enter text" autofocus (keyup.enter)="generateQRCode()">
        </mat-form-field>
        <mat-card-subtitle>{{qrName}}</mat-card-subtitle>
      </div>
        <div class="column">
          <button mat-raised-button (click)="generateQRCode()">Generate QR code</button>
          <button mat-raised-button (click)="saveQrCode()" *ngIf="generated">Save</button>
        </div>
          <div *ngIf="qrData" class="qrCodeContainer">
            <qrcode #qrCode elementType="canvas" *ngIf="qrData" (qrCodeURL)="onChangeURL($event)" [qrdata]="qrData" [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
            <a *ngIf="qrCodeDownloadLink" [href]="qrCodeDownloadLink" download="qrcode">Download</a>
          </div>
      </div>
    </mat-card-content>
  </mat-card>
