<!-- <mat-dialog-content>
  <div class="example-form">
        <mat-card>
          <mat-card-content>
        <form [formGroup]="changePasswordForm">
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
      required
      minlength="8"
      />
      <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="hide ? 'Hide password' : 'Show password'"
      >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error
    *ngIf="
    changePasswordForm.get('password').invalid &&
    (changePasswordForm.get('password').dirty ||
    changePasswordForm.get('password').touched)
    "
    >
    <span *ngIf="changePasswordForm.get('password').hasError('required')"
    >Password is required</span
    >
    <span *ngIf="changePasswordForm.get('password').hasError('minlength')"
          >Password must be at least 8 characters long</span
        >
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="confirmPassword"
      required
      />
      <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="hide ? 'Hide password' : 'Show password'"
      >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error
    *ngIf="
    changePasswordForm.get('confirmPassword').invalid &&
    (changePasswordForm.get('confirmPassword').dirty ||
    changePasswordForm.get('confirmPassword').touched)
    "
    >
    <span
    *ngIf="changePasswordForm.get('confirmPassword').hasError('required')"
    >Confirm Password is required</span
    >
    <span
    *ngIf="changePasswordForm.get('confirmPassword').hasError('minlength')"
    >Confirm Password must be at least 8 characters long</span
    >
    <span
    *ngIf="
    !changePasswordForm.get('confirmPassword').hasError('required') &&
    !changePasswordForm.get('confirmPassword').hasError('minlength') &&
    changePasswordForm.get('password').value !==
    changePasswordForm.get('confirmPassword').value
    "
      >Passwords do not match</span
      >
    </mat-error>
  </mat-form-field>
</form>
</mat-card-content>
</mat-card>
</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onChangePassword()" [disabled]="changePasswordForm.invalid">Save</button>
</mat-dialog-actions>
-->
<mat-dialog-content>
  <form [formGroup]="changePasswordForm">
    <mat-form-field>
      <mat-label>Current Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="currentPassword" minlength="8">
      <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="hide ? 'Hide password' : 'Show password'"
      >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error
    *ngIf="
    changePasswordForm.get('currentPassword').invalid &&
    (changePasswordForm.get('currentPassword').dirty ||
    changePasswordForm.get('currentPassword').touched)
    "
    >
    <span *ngIf="changePasswordForm.get('currentPassword').hasError('required')"
    >Password is required</span
    >
    <span *ngIf="changePasswordForm.get('currentPassword').hasError('minlength')"
          >Password must be at least 8 characters long</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>New Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" minlength="8">
      <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="hide ? 'Hide password' : 'Show password'"
      >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error
    *ngIf="
    changePasswordForm.get('newPassword').invalid &&
    (changePasswordForm.get('newPassword').dirty ||
    changePasswordForm.get('newPassword').touched)
    "
    >
    <span *ngIf="changePasswordForm.get('newPassword').hasError('required')"
    >Password is required</span
    >
    <span *ngIf="changePasswordForm.get('newPassword').hasError('minlength')"
          >Password must be at least 8 characters long</span
        >
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onChangePassword()" [disabled]="changePasswordForm.invalid">Save</button>
</mat-dialog-actions>
