:host {
  display: block;
  margin:auto;
  width: 90%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
mat-form-field button{
  margin-right: 20px;
}

mat-dialog-content {
  margin-top: 20px;
  padding: 20px;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  padding: 8px 24px;
}

button {
  padding-left: 8px;
}
