<div class="example-form">
  <mat-card>
    <h2>Login</h2>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required />
          <mat-error
            *ngIf="
              loginForm.get('email').invalid &&
              (loginForm.get('email').dirty ||
                loginForm.get('email').touched)
            "
          >
            <span *ngIf="loginForm.get('email').hasError('required')"
              >email is required</span
            >
            <span *ngIf="loginForm.get('email').hasError('email')"
              >Invalid email format</span
            >
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="hide ? 'Hide password' : 'Show password'"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              loginForm.get('password').invalid &&
              (loginForm.get('password').dirty ||
                loginForm.get('password').touched)
            "
          >
            <span *ngIf="loginForm.get('password').hasError('required')"
              >Password is required</span
            >
            <span *ngIf="loginForm.get('password').hasError('minlength')"
              >Password must be at least 8 characters long</span
            >
          </mat-error>
        </mat-form-field>

        <mat-error>
          <span>{{msg}}</span>
        </mat-error>

        <a class="forgot" (click)="openForgotPasswordForm()">Forgot Password?</a>

        <button mat-raised-button class="submit" [disabled]="loginForm.invalid">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
