@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  overflow-x: hidden;
}
html,
body {
  overflow-x: hidden;
  height: 110vh;
}
::-webkit-scrollbar {
  display: none !important;
}

::-webkit-scrollbar-button {
  display: none !important;
}
